[Unit]
Description=Sway Wallpaper Service
After=graphical-session.target

[Service]
Type=simple
ExecStart=swaybg -i {{ .chezmoi.homeDir }}/Pictures/wallpaper.png -m fill
Restart=on-failure

[Install]
WantedBy=graphical-session.target
