// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
@use "sass:color";
@use "sass:string";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

$bg: #222436;
$bg_dark: #1e2030;
$bg_dark1: #191b29;
$bg_highlight: #2f334d;
$blue: #82aaff;
$blue0: #3e68d7;
$blue1: #65bcff;
$blue2: #0db9d7;
$blue5: #89ddff;
$blue6: #b4f9f8;
$blue7: #394b70;
$comment: #636da6;
$cyan: #86e1fc;
$dark3: #545c7e;
$dark5: #737aa2;
$fg: #c8d3f5;
$fg_dark: #828bb8;
$fg_gutter: #3b4261;
$green: #c3e88d;
$green1: #4fd6be;
$green2: #41a6b5;
$magenta: #c099ff;
$magenta2: #ff007c;
$orange: #ff966c;
$purple: #fca7ea;
$red: #ff757f;
$red1: #c53b53;
$teal: #4fd6be;
$terminal_black: #444a73;
$yellow: #ffc777;

$accent: $blue;
$error: $red;

$radius: 12px;

* {
  font: 16px "CodeNewRoman Nerd Font Propo";
}

window.Picker {
  background: transparent;
  color: $fg;

  button {
    background: $bg;
    border-radius: $radius;
    margin: 1px;
  }

  image {
    margin-right: 6px;
    margin-left: 6px;
  }

  box#picker-content {
    background: $bg_dark1;
    min-width: 600px;
    border-radius: $radius;
    // border-bottom-left-radius: $radius;
    // border-bottom-right-radius: $radius;
    padding: 6px;
  }
}

window.OSD {
  all: unset;
  box.OSD {
    background-color: $bg_dark1;
    border-radius: 50px;
    padding: 13px 16px;
    margin-bottom: 100px;
  }

  image {
    -gtk-icon-size: 2rem;
  }

  levelbar {
    trough {
      margin: 0.6rem;
      border-radius: $radius;
    }

    .filled {
      background-color: $accent;
    }

    block {
      min-height: 1rem;
      border-radius: $radius;
    }
  }
}

calendar {
  background-color: transparent;
  border: none;
  border-radius: $radius;
  margin: 0.5rem;
  padding: 4px;
}

window.Popup {
  .Selected {
    background-color: $bg_highlight;
  }
  .popup-content {
    box-shadow: none;
    background: color.adjust($bg_dark1, $alpha: -0.1);
    border: none;
    padding: 8px;
    // border-top-right-radius: 0;
    // border-top-left-radius: 0;
  }
  viewport {
    all: unset;
    border: none;
  }
  scrollbar {
    * {
      all: unset;
    }
  }
  .submenu {
    background-color: $bg_dark1;
  }
  box {
    border-radius: 10px;
  }
  label {
    padding: 2px;
    // margin: 2px;
  }
  image {
    padding: 2px;
    margin: 2px;
    transition: 200ms;
    &.opened {
      -gtk-icon-transform: rotate(90deg);
    }
  }
  button {
    all: unset;
    background: $bg_dark;
    border-radius: $radius;
    margin: 4px;
    padding: 4px;
    transition: 300ms;
    &:hover {
      background-color: $bg_highlight;
    }
    &:active {
      background-color: $bg_highlight;
    }
    &:focus {
      background-color: $bg_highlight;
    }
  }

  .AudioSlider {
    scale {
      all: unset;
    }
    trough {
      all: unset;
      background-color: $bg_dark;
      border-radius: $radius;
      highlight {
        all: unset;
        background-color: $accent;
        border-radius: $radius;
        padding: 5px;
      }
      slider {
        all: unset;
        margin: 0px;
        padding: 6px;
        background-color: transparent;
      }
    }
  }

  .Media .Cover {
    min-height: 1.2em;
    min-width: 1.2em;
    border-radius: $radius;
    background-position: center;
    background-size: contain;
  }
}

window.Bar {
  border: none;
  box-shadow: none;
  color: $fg;
  font-weight: bold;
  font: 16px "CodeNewRoman Nerd Font Propo";
  background: color.adjust($bg_dark1, $alpha: -0.1);
  padding: 5px;
  border-radius: 20px;
  margin: 8px;
  margin-bottom: 0;

  popover {
    .Selected {
      background-color: $bg_highlight;
    }
    contents {
      box-shadow: none;
      background: color.adjust($bg_dark1, $alpha: -0.1);
      border: none;
      padding: 8px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    viewport {
      all: unset;
      border: none;
    }
    scrollbar {
      * {
        all: unset;
      }
    }
    .submenu {
      background-color: $bg_dark1;
    }
    box {
      border-radius: 10px;
    }
    label {
      padding: 2px;
      // margin: 2px;
    }
    image {
      padding: 2px;
      margin: 2px;
      transition: 200ms;
      &.opened {
        -gtk-icon-transform: rotate(90deg);
      }
    }
    button {
      all: unset;
      background: $bg_dark;
      border-radius: $radius;
      margin: 4px;
      padding: 4px;
      transition: 300ms;
      &:hover {
        background-color: $bg_highlight;
      }
      &:active {
        background-color: $bg_highlight;
      }
      &:focus {
        background-color: $bg_highlight;
      }
    }
  }

  label,
  image {
    margin: 0 12px;
  }

  centerbox {
    background: color.adjust($bg_dark1, $alpha: -0.1);
    padding: 5px;
    border-radius: 20px;
    margin: 8px;
    margin-bottom: 0;
  }

  button {
    padding: 0 4px;
    background: transparent;
    background: color.adjust($bg, $alpha: -0.1);
    border-radius: $radius;
    &:hover {
      background-color: $bg_highlight;
    }
    &:active {
      background-color: $bg_highlight;
    }
    &:focus {
      background-color: $bg_highlight;
      outline: none;
    }
  }

  .Workspaces {
    button {
      all: unset;
      background-color: transparent;
      border-radius: $radius;
      margin: 0 4px;

      label {
        all: unset;
        background-color: $bg;
        transition: 300ms;
        padding: 0 8px;
        border-radius: $radius;
      }

      &:hover label {
        background-color: color.adjust($accent, $alpha: -0.64);
      }

      &:active label {
        background-color: color.adjust($fg, $alpha: -0.6);
      }
    }

    .focused label {
      color: $bg;
      background-color: $accent;
      padding: 0 18px;
    }
  }

  .SysTray {
    margin-right: 8px;
    image {
      margin: 0;
    }

    button {
      padding: 0 4px;
    }
  }

  .FocusedClient {
    border-radius: $radius;
    color: $fg;
  }

  .Battery label {
    padding-left: 0;
    margin-left: 0;
  }

  .PrivacyIndicator {
    color: $red;
  }
}

// notifications

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss

window.NotificationPopups {
  all: unset;
}

.Notification {
  border-radius: $radius;
  background-color: $bg;
  margin: 0.5rem;
  box-shadow: 2px 3px 8px 0 gtkalpha(black, 0.4);
  border: 1pt solid gtkalpha($fg, 0.03);

  &.critical {
    border: 1pt solid gtkalpha($error, 0.4);

    .header {
      .app-name {
        color: gtkalpha($error, 0.8);
      }

      .app-icon {
        color: gtkalpha($error, 0.6);
      }
    }
  }

  .header {
    padding: 0.5rem;
    color: gtkalpha($fg, 0.5);

    .app-icon {
      margin: 0 0.4rem;
    }

    .app-name {
      margin-right: 0.3rem;
      font-weight: bold;

      &:first-child {
        margin-left: 0.4rem;
      }
    }

    .time {
      margin: 0 0.4rem;
    }

    button {
      padding: 0.2rem;
      min-width: 0;
      min-height: 0;
    }
  }

  separator {
    margin: 0 0.4rem;
    background-color: gtkalpha($fg, 0.1);
  }

  .content {
    margin: 1rem;
    margin-top: 0.5rem;

    .summary {
      font-size: 1.2em;
      color: $fg;
    }

    .body {
      color: gtkalpha($fg, 0.8);
    }

    .image {
      border: 1px solid gtkalpha($fg, 0.02);
      margin-right: 0.5rem;
      border-radius: 9px;
      min-width: 70px;
      min-height: 70px;
      background-size: cover;
      background-position: center;
    }
  }

  .actions {
    margin: 1rem;
    margin-top: 0;

    button {
      margin: 0 0.3rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
