* {
  font: 16px "CodeNewRoman Nerd Font Propo";
}

window.Picker {
  background: transparent;
  color: #c8d3f5;
}
window.Picker button {
  background: #222436;
  border-radius: 12px;
  margin: 1px;
}
window.Picker image {
  margin-right: 6px;
  margin-left: 6px;
}
window.Picker box#picker-content {
  background: #191b29;
  min-width: 600px;
  border-radius: 12px;
  padding: 6px;
}

window.OSD {
  all: unset;
}
window.OSD box.OSD {
  background-color: #191b29;
  border-radius: 50px;
  padding: 13px 16px;
  margin-bottom: 100px;
}
window.OSD image {
  -gtk-icon-size: 2rem;
}
window.OSD levelbar trough {
  margin: 0.6rem;
  border-radius: 12px;
}
window.OSD levelbar .filled {
  background-color: #82aaff;
}
window.OSD levelbar block {
  min-height: 1rem;
  border-radius: 12px;
}

calendar {
  background-color: transparent;
  border: none;
  border-radius: 12px;
  margin: 0.5rem;
  padding: 4px;
}

window.Popup .Selected {
  background-color: #2f334d;
}
window.Popup .content {
  box-shadow: none;
  background: rgba(25, 27, 41, 0.9);
  border: none;
  padding: 8px;
}
window.Popup viewport {
  all: unset;
  border: none;
}
window.Popup scrollbar * {
  all: unset;
}
window.Popup .submenu {
  background-color: #191b29;
}
window.Popup box {
  border-radius: 10px;
}
window.Popup label {
  padding: 2px;
}
window.Popup image {
  padding: 2px;
  margin: 2px;
  transition: 200ms;
}
window.Popup image.opened {
  -gtk-icon-transform: rotate(90deg);
}
window.Popup button {
  all: unset;
  background: #1e2030;
  border-radius: 12px;
  margin: 4px;
  padding: 4px;
  transition: 300ms;
}
window.Popup button:hover {
  background-color: #2f334d;
}
window.Popup button:active {
  background-color: #2f334d;
}
window.Popup button:focus {
  background-color: #2f334d;
}
window.Popup .AudioSlider scale {
  all: unset;
}
window.Popup .AudioSlider trough {
  all: unset;
  background-color: #1e2030;
  border-radius: 12px;
}
window.Popup .AudioSlider trough highlight {
  all: unset;
  background-color: #82aaff;
  border-radius: 12px;
  padding: 5px;
}
window.Popup .AudioSlider trough slider {
  all: unset;
  margin: 0px;
  padding: 6px;
  background-color: transparent;
}
window.Popup .Media .Cover {
  min-height: 1.2em;
  min-width: 1.2em;
  border-radius: 12px;
  background-position: center;
  background-size: contain;
}

window.Bar {
  border: none;
  box-shadow: none;
  color: #c8d3f5;
  font-weight: bold;
  font: 16px "CodeNewRoman Nerd Font Propo";
  background: rgba(25, 27, 41, 0.9);
  padding: 5px;
  border-radius: 20px;
  margin: 8px;
  margin-bottom: 0;
}
window.Bar popover .Selected {
  background-color: #2f334d;
}
window.Bar popover contents {
  box-shadow: none;
  background: rgba(25, 27, 41, 0.9);
  border: none;
  padding: 8px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
window.Bar popover viewport {
  all: unset;
  border: none;
}
window.Bar popover scrollbar * {
  all: unset;
}
window.Bar popover .submenu {
  background-color: #191b29;
}
window.Bar popover box {
  border-radius: 10px;
}
window.Bar popover label {
  padding: 2px;
}
window.Bar popover image {
  padding: 2px;
  margin: 2px;
  transition: 200ms;
}
window.Bar popover image.opened {
  -gtk-icon-transform: rotate(90deg);
}
window.Bar popover button {
  all: unset;
  background: #1e2030;
  border-radius: 12px;
  margin: 4px;
  padding: 4px;
  transition: 300ms;
}
window.Bar popover button:hover {
  background-color: #2f334d;
}
window.Bar popover button:active {
  background-color: #2f334d;
}
window.Bar popover button:focus {
  background-color: #2f334d;
}
window.Bar label,
window.Bar image {
  margin: 0 12px;
}
window.Bar centerbox {
  background: rgba(25, 27, 41, 0.9);
  padding: 5px;
  border-radius: 20px;
  margin: 8px;
  margin-bottom: 0;
}
window.Bar button {
  padding: 0 4px;
  background: transparent;
  background: rgba(34, 36, 54, 0.9);
  border-radius: 12px;
}
window.Bar button:hover {
  background-color: #2f334d;
}
window.Bar button:active {
  background-color: #2f334d;
}
window.Bar button:focus {
  background-color: #2f334d;
  outline: none;
}
window.Bar .Workspaces button {
  all: unset;
  background-color: transparent;
  border-radius: 12px;
  margin: 0 4px;
}
window.Bar .Workspaces button label {
  all: unset;
  background-color: #222436;
  transition: 300ms;
  padding: 0 8px;
  border-radius: 12px;
}
window.Bar .Workspaces button:hover label {
  background-color: rgba(130, 170, 255, 0.36);
}
window.Bar .Workspaces button:active label {
  background-color: rgba(200, 211, 245, 0.4);
}
window.Bar .Workspaces .focused label {
  color: #222436;
  background-color: #82aaff;
  padding: 0 18px;
}
window.Bar .SysTray {
  margin-right: 8px;
}
window.Bar .SysTray image {
  margin: 0;
}
window.Bar .SysTray button {
  padding: 0 4px;
}
window.Bar .FocusedClient {
  border-radius: 12px;
  color: #c8d3f5;
}
window.Bar .Battery label {
  padding-left: 0;
  margin-left: 0;
}
window.Bar .PrivacyIndicator {
  color: #ff757f;
}

window.NotificationPopups {
  all: unset;
}

.Notification {
  border-radius: 12px;
  background-color: #222436;
  margin: 0.5rem;
  box-shadow: 2px 3px 8px 0 alpha(black,0.4);
  border: 1pt solid alpha(#c8d3f5,0.03);
}
.Notification.critical {
  border: 1pt solid alpha(#ff757f,0.4);
}
.Notification.critical .header .app-name {
  color: alpha(#ff757f,0.8);
}
.Notification.critical .header .app-icon {
  color: alpha(#ff757f,0.6);
}
.Notification .header {
  padding: 0.5rem;
  color: alpha(#c8d3f5,0.5);
}
.Notification .header .app-icon {
  margin: 0 0.4rem;
}
.Notification .header .app-name {
  margin-right: 0.3rem;
  font-weight: bold;
}
.Notification .header .app-name:first-child {
  margin-left: 0.4rem;
}
.Notification .header .time {
  margin: 0 0.4rem;
}
.Notification .header button {
  padding: 0.2rem;
  min-width: 0;
  min-height: 0;
}
.Notification separator {
  margin: 0 0.4rem;
  background-color: alpha(#c8d3f5,0.1);
}
.Notification .content {
  margin: 1rem;
  margin-top: 0.5rem;
}
.Notification .content .summary {
  font-size: 1.2em;
  color: #c8d3f5;
}
.Notification .content .body {
  color: alpha(#c8d3f5,0.8);
}
.Notification .content .image {
  border: 1px solid alpha(#c8d3f5,0.02);
  margin-right: 0.5rem;
  border-radius: 9px;
  min-width: 70px;
  min-height: 70px;
  background-size: cover;
  background-position: center;
}
.Notification .actions {
  margin: 1rem;
  margin-top: 0;
}
.Notification .actions button {
  margin: 0 0.3rem;
}
.Notification .actions button:first-child {
  margin-left: 0;
}
.Notification .actions button:last-child {
  margin-right: 0;
}

/*# sourceMappingURL=style.css.map */
