[bar]
# Base height of the bar in pixels - all other sizes scale from this
size = 32

position = "top"

# Spacing between widgets within each section (in pixels)
spacing = 6

# Distance from the screen edge to the bar window (in pixels)
screen_margin = 0

# Distance from the bar edge to the first/last section (in pixels)
inset = 4

# Border radius for the bar (percentage of bar height, 50% = fully rounded)
border_radius = 0

popover_offset = 6

# background_color = "#13141c"
background_opacity = 0.8
padding = 4
outline = false


[widgets]
border_radius = 50
# background_color = "#1e2030"
background_opacity = 0.25
popover_background_opacity = 0.8
outline = false

left = [
  "notifications",
  "workspaces",
  "window_title",
]
center = []
right = [
  "custom-ddcutil",
  "custom-theme",
  "media",
  "tray",
  { group = ["cpu", "gpu"] },
  "battery",
  "quick_settings",
  "clock",
  # "notifications",
  # { group = [
  #   "clock",
  #   "spacer:8",
  #   "notifications",
  # ] },
]

[widgets.taskbar]
show_title = false
show_icon = true
show_active = true
icon_size = 20
filter_by_output = true

[widgets.workspaces]
# label_type = "index"

[widgets.custom-ddcutil]
label = "Switch input"
icon = "output"
show_if = "niri msg -j outputs |grep UK02338064882"
on_click = "ddcutil -n UK02338064882 setvcp 60 1"
tooltip = "Switch input source"
max_chars = 20

[widgets.custom-theme]
icon = "dark_mode"
on_click = "swap-theme"
tooltip = "Switch theme"

[theme]
mode = "auto"
scheme = "{{ .theme }}"
# accent = "#27a1b9"
blur = true
outline = true
outline_width = 2
# animations = false

[theme.states]
success = "#9ece6a"
warning = "#e0af68"
urgent = "#f7768e"

[theme.typography]
font_family = "Hack NF, monospace"

[osd]
position = "left"

# [audio]
# allow_overdrive = true
