[bar]
# Base height of the bar in pixels - all other sizes scale from this
size = 32

# Spacing between widgets within each section (in pixels)
widget_spacing = 8

# Distance from the screen edge to the bar window (in pixels)
outer_margin = 5

# Distance from the bar edge to the first/last section (in pixels)
section_edge_margin = 3

# Border radius for the bar (percentage of bar height, 50% = fully rounded)
border_radius = 0

popover_offset = 7

[widgets]
center = ["clock"]
right = ["system_tray", "quick_settings", "notifications"]
border_radius = 40

[widgets.updates]
disabled = true

[widgets.cpu]
disabled = true

{{- if eq .chezmoi.hostname "sidearm" }}
[widgets.battery]
disabled = true
{{- end }}

[theme]
mode = "gtk"
accent = "#7aa2f7"

[theme.states]
success = "#c3e88d"
warning = "#ffc777"
urgent = "#ff757f"

[theme.typography]
font_family = "Hack NF Propo, monospace"
