@define-color bg #222436;
@define-color bg_dark #1e2030;
@define-color bg_dark1 #191B29;
@define-color bg_highlight #2f334d;
@define-color blue #82aaff;
@define-color blue0 #3e68d7;
@define-color blue1 #65bcff;
@define-color blue2 #0db9d7;
@define-color blue5 #89ddff;
@define-color blue6 #b4f9f8;
@define-color blue7 #394b70;
@define-color comment #636da6;
@define-color cyan #86e1fc;
@define-color dark3 #545c7e;
@define-color dark5 #737aa2;
@define-color fg #c8d3f5;
@define-color fg_dark #828bb8;
@define-color fg_gutter #3b4261;
@define-color green #c3e88d;
@define-color green1 #4fd6be;
@define-color green2 #41a6b5;
@define-color magenta #c099ff;
@define-color magenta2 #ff007c;
@define-color orange #ff966c;
@define-color purple #fca7ea;
@define-color red #ff757f;
@define-color red1 #c53b53;
@define-color teal #4fd6be;
@define-color terminal_black #444a73;
@define-color yellow #ffc777;

@define-color mycolor @cyan;

* {
  font-size: 16px;
  font-family: "CodeNewRoman Nerd Font Propo";
}
window#waybar {
  all: unset;
}
.modules-left {
  padding: 7px;
  margin: 5px;
  margin-bottom: 0px;
  margin-top: 2px;
  border-radius: 5px;
  border: 1px solid alpha(@blue, 0.8);
  background: alpha(@bg, 0.8);
}
.modules-center {
  padding: 7px;
  margin: 5px;
  margin-bottom: 0px;
  margin-top: 2px;
  border-radius: 5px;
  border: 1px solid alpha(@blue, 0.8);
  background: alpha(@bg, 0.8);
}
.modules-right {
  padding: 7px;
  margin: 5px;
  margin-bottom: 0px;
  margin-top: 2px;
  border-radius: 5px;
  border: 1px solid alpha(@blue, 0.8);
  background: alpha(@bg, 0.8);
}
tooltip {
  background: @bg;
  color: @fg_dark;
}
#clock:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#wireplumber:hover,
#temperature:hover {
  transition: all 0.3s ease;
  color: @mycolor;
}
#custom-notification {
  font-size: 14px;
  padding: 0px 5px;
  min-height: 20px;
  transition: all 0.3s ease;
  color: @fg_dark;
}
#clock {
  padding: 0px 5px;
  color: @fg_dark;
  transition: all 0.3s ease;
}
#custom-pacman {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: @fg_dark;
}
#workspaces {
  padding: 0px 5px;
}
#workspaces button {
  all: unset;
  padding: 0px 5px;
  color: alpha(@mycolor, 0.4);
  transition: all 0.2s ease;
}
#workspaces button:hover {
  color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}
#workspaces button.active {
  color: @mycolor;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
#workspaces button.empty {
  color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.2);
}
#workspaces button.empty:hover {
  color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}
#workspaces button.empty.active {
  color: @mycolor;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
#bluetooth {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: @fg_dark;
}
#network {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: @fg_dark;
}
#battery {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: @fg_dark;
}
#battery.charging {
  color: #26a65b;
}

#battery.warning:not(.charging) {
  color: #ffbe61;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#group-expand {
  padding: 0px 5px;
  transition: all 0.3s ease;
}
#custom-expand {
  padding: 0px 5px;
  color: alpha(@foreground, 0.2);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
}
#custom-expand:hover {
  color: rgba(255, 255, 255, 0.2);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
#custom-colorpicker {
  padding: 0px 5px;
}
#cpu,
#memory,
#wireplumber,
#temperature {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: @fg_dark;
}
#custom-endpoint {
  color: transparent;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);
}
#tray {
  padding: 0px 5px;
  transition: all 0.3s ease;
}
#tray menu * {
  padding: 0px 5px;
  transition: all 0.3s ease;
}

#tray menu separator {
  padding: 0px 5px;
  transition: all 0.3s ease;
}
