// https://yalter.github.io/niri/Configuration:-Introduction

// include "outputs.kdl"

// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
            // You can set rules, model, layout, variant and options.
            // For more information, see xkeyboard-config(7).

            // For example:
            layout "se"
            options "caps:escape"
            variant "nodeadkeys"

            // If this section is empty, niri will fetch xkb settings
            // from org.freedesktop.locale1. You can control these using
            // localectl set-x11-keymap.
        }
        repeat-delay 350
        repeat-rate 30
        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }

    // Next sections include libinput settings.
    // Omitting settings disables them, or leaves them at their default values.
    // All commented-out settings here are examples, not defaults.
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        // natural-scroll
        accel-speed 0.3
        scroll-factor 0.6
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        accel-speed 0.3
        accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }

    warp-mouse-to-focus

    focus-follows-mouse max-scroll-amount="50%"
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

debug {
    honor-xdg-activation-with-invalid-serial
}

// https://yalter.github.io/niri/Configuration:-Layout
layout {
    gaps 8

    background-color "transparent"

    center-focused-column "never"

    preset-column-widths {
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }


    // You can change how the focus ring looks.
    focus-ring {
        // off

        width 2

        active-color "#27a1b9"
        inactive-color "#323449"

        // active-gradient from="#7aa2f7" to="#bb9af7" angle=45 relative-to="workspace-view"

        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    insert-hint {
        color "#27a1b980"
    }

    shadow {
        // Uncomment the next line to enable shadows.
        // on

        // Softness controls the shadow blur radius.
        softness 30

        // Spread expands the shadow.
        spread 5

        // Offset moves the shadow relative to the window.
        offset x=0 y=5

        // You can also change the shadow color and opacity.
        color "#0007"
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // Left and right struts will cause the next window to the side to always be visible.
    // Top and bottom struts will simply add outer gaps in addition to the area occupied by
    // layer-shell panels and regular gaps.
    struts {
        // left 32
        // right 32
        // top 64
        // bottom 64
    }
}

recent-windows {
    // off
    debounce-ms 750

    open-delay-ms 150

    highlight {
        active-color "#27a1b999"
        urgent-color "#ff757f99"
        padding 30
        corner-radius 8
    }

    previews {
        max-height 480
        max-scale 0.5
    }

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }

        Mod+Tab         { next-window; }
        Mod+Shift+Tab   { previous-window; }
        Mod+grave       { next-window     filter="app-id"; }
        Mod+Shift+grave { previous-window filter="app-id"; }
    }
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

workspace "default" {
    {{- if eq .chezmoi.hostname "thinkpad-x1" }}
    open-on-output "eDP-1"
    {{- else if eq .chezmoi.hostname "sidearm" }}
    open-on-output "DP-1"
    {{- end }}
}

{{- if eq .chezmoi.hostname "sidearm" }}
workspace "gaming" {
    open-on-output "DP-1"
}

window-rule {
    match app-id="steam"
    open-on-workspace "gaming"
}
{{- end }}

workspace "chat" {
    {{- if eq .chezmoi.hostname "sidearm" }}
    open-on-output "DP-2"
    {{- else if eq .chezmoi.hostname "thinkpad-x1" }}
    open-on-output "eDP-1"
    {{- end }}
}

include "keybinds.kdl"
include "outputs.kdl"
include "windowrules.kdl"
include "layerrules.kdl"
