* {
  all: unset;
  font-size: 1.3rem;
}

#window,
#match,
#entry,
#plugin,
#main {
  background: transparent;
}

#match.activatable {
  border-radius: 5px;
  padding: 0.3rem 0.9rem;
  margin-top: 0.01rem;
}
#match.activatable:first-child {
  margin-top: 0.7rem;
}
#match.activatable:last-child {
  margin-bottom: 0.6rem;
}

#plugin:hover #match.activatable {
  border-radius: 5px;
  padding: 0.3rem;
  margin-top: 0.01rem;
  margin-bottom: 0;
}

#match:selected {
  background: #191b28;
  border: 2px solid #191b28;
}

#match:hover,
#plugin:hover {
  background: #222436;
}

#entry {
  background: #222436;
  border: 1px solid #222436;
  border-radius: 16px;
  margin: 0.5rem;
  padding: 0.3rem 1rem;
}

list > #plugin {
  border-radius: 16px;
  margin: 0 0.3rem;
}
list > #plugin:first-child {
  margin-top: 0.3rem;
}
list > #plugin:last-child {
  margin-bottom: 0.3rem;
}
list > #plugin:hover {
  padding: 0.6rem;
}

box#main {
  background: #222436;
  box-shadow:
    inset 0 0 0 1px #222436,
    0 0 0 1px #222436;
  border-radius: 5px;
  padding: 0.3rem;
  border: 1px solid #33ccff;
}
